#dockBar {
    margin: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: $sidePaneWidth;
    font-size: 10pt;
    text-align: center;
    font-weight: normal;
    color: #dddddd;
    height: 40px;
    background-color: #404040;
}