.popupScreen {
    position: absolute;
    margin: 0;
    padding: 0;   
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;

    @include blurEffect;
}

.modalContainer {
    position: absolute;
    margin: 0;
    padding: 0;   
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    font-size: 14pt;
    z-index: 800;
}

.modalWindow {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    height: 100px;
    width: 300px;
    background: none; /*#557;*/
    padding: 20px;
    border-radius: 5px;
    color: #eee;
    z-index: 1001;

    label {
        float: left;
        line-height: 30px;
        padding: 10px 0;
        margin-right: 20px;
    }

    .btn-success {
        margin: 0;
        float: left;
        padding: 10px;
        line-height: 30px;
        width: 80px;
        text-align: center;
        background-color: $successColor;

        &:hover {
            cursor: pointer;
            background-color: $successColorHover;
        }
    }

    .signin {
        width: 260px;
        padding: 10px;
        text-align: center;
        background-color: $successColor;
        &:hover {
            cursor: pointer;
            background-color: $successColorHover;
        }
    }

    .signup {
        width: 260px;
        padding: 10px;
        text-align: center;
        background-color: $successColor;
        &:hover {
            cursor: pointer;
            background-color: $successColorHover;
        }
    }

    p {
        display: block;
        clear: both;
        margin-top: 40px;
    }

    input[type='text'] {
        float: left;
        margin: 0;
        padding: 10px;
        width: 180px;
        line-height: 30px;
        border: 0px;
        outline: none;
        font-family: 'Droid Sans', sans-serif;
        font-size: 14pt;
        color: #333333;
    }
}
