/* Tree UI component */

.treePane {
    box-sizing: border-box;
    position: absolute;
    top: 50px;
    padding: 0px 0px 0px 20px;
    bottom: 60px;
    width: $sidePaneWidth;
    overflow: auto;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: #ffffff;

        li {
            padding-left: 8px;
            cursor: pointer;

            label {
                margin: 0;
                padding: 0;
                display: block;
                cursor: pointer;
                line-height: 1.3em;
            }

            label:hover {
                cursor: pointer;
                color: #ccc;
            }

            label.togglable:hover {
                cursor: pointer;
                color: #ea4;
            }
        }
    }
}

.togglable {
    color: #ffcc66; /* rgb(255,204,102); fff080 */
    position: relative;
}

.togglable-down::before,
.togglable-up::before {
    position: absolute;
    top: 50%;
    margin-top: -0.8em;
    left: -1.2em;
    font-size: 0.7em;
}

.togglable-down::before {
    content: '\25BC';
    /*display: inline-block;*/
}

.togglable-up::before {
    content: "\25B6";
    /*display: inline-block;*/
}

.selected {
    position: relative;
    color: #bcf;
}

.modified {
    position: relative;
    background-color: #eee;
}