@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/Inconsolata-Regular.ttf'); }

@font-face {
  font-family: 'Droid Sans';
  src: url('../fonts/DroidSans.ttf'); }

/* Widths */
/* Colors */
/* Scroll bar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6); }

::-webkit-scrollbar-resizer {
  background: rgba(0, 0, 0, 0.6); }

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.6); }

/* Menu bar */
#menuContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #272727;
  margin: 0;
  padding: 0;
  font-size: 12pt;
  font-weight: normal; }
  #menuContainer #logo {
    float: left;
    padding: 8px;
    padding-left: 4px;
    font-family: 'Inconsolata';
    color: #ffffff;
    text-decoration: none; }
    #menuContainer #logo .slash {
      color: #667796; }
  #menuContainer #rightMenu {
    float: right;
    margin: 0;
    padding: 0;
    text-align: right;
    color: #eeeeee; }
  #menuContainer ul {
    margin: 0;
    padding: 0;
    height: 100%; }
    #menuContainer ul li {
      float: left;
      display: block;
      margin: 0;
      padding: 0;
      font-family: 'Droid Sans', sans-serif;
      font-size: 9.5pt;
      height: 100%; }

.menuButton {
  float: left;
  margin: 0;
  padding: 0;
  margin-right: 2px;
  height: 35px;
  line-height: 35px;
  text-align: center; }

.userTag {
  float: left;
  margin: 0;
  padding: 0px 4px 0px 4px;
  margin: 7px 2px 7px 2px;
  height: 21px;
  line-height: 21px;
  min-width: 15px;
  text-align: center;
  font-weight: normal;
  color: #fff; }
  .userTag img {
    height: 8px;
    padding-left: 4px; }

.streamable:hover {
  cursor: pointer; }

.inactiveSession {
  /*background-color: #d55;*/
  background-color: #333; }

.activeSession {
  background-color: #2873AB;
  transition: background 0.15s ease-in-out;
  -moz-transition: background 0.15s ease-in-out;
  -webkit-transition: background 0.15s ease-in-out; }

.userBehind::before {
  content: '\25B2';
  padding-right: 2px;
  font-size: 8pt; }

.userAhead::before {
  content: '\25BC';
  padding-right: 2px;
  font-size: 8pt; }

#videoButton img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 16px;
  margin: -9px 0 0 -18px; }

.notificationPopup {
  position: absolute;
  right: 6px;
  top: 35px;
  z-index: 100;
  font-size: 10pt;
  font-family: 'Droid Sans';
  text-align: right;
  font-weight: normal; }

.joinMsg, .leaveMsg, .stateMsg, .errorMsg, .loadingMsg, .infoMsg {
  float: right;
  clear: both;
  height: 22px;
  line-height: 22px;
  color: #ffffff;
  opacity: 1;
  padding: 2px 4px 2px 8px; }

.joinMsg {
  background-color: #2873AB; }

.leaveMsg {
  background-color: #d55; }

.stateMsg {
  background-color: #696; }

.loadingMsg {
  background-color: #666; }

.infoMsg {
  background-color: #994; }

.errorMsg {
  background-color: #d55; }
  .errorMsg .button:hover {
    background-color: #e44;
    padding: 5px;
    cursor: pointer; }

.fadeInOut-enter {
  opacity: 0.01;
  transition: opacity 0.5s ease-in; }

.fadeInOut-enter.fadeInOut-enter-active {
  opacity: 1; }

.fadeInOut-leave {
  opacity: 1;
  transition: opacity 0.5s ease-in; }

.fadeInOut-leave.fadeInOut-leave-active {
  opacity: 0.01; }

/* Tree UI component */
.treePane {
  box-sizing: border-box;
  padding: 0px 0px 0px 8px;
  position: absolute;
  top: 30px;
  left: 0px;
  bottom: 60px;
  width: 240px;
  overflow: auto;
  font-family: 'Droid Sans', sans-serif;
  font-size: 10pt; }
  .treePane ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #ffffff; }
    .treePane ul li {
      padding-left: 8px;
      cursor: pointer; }
      .treePane ul li label {
        margin: 0;
        padding: 0;
        display: block;
        cursor: pointer;
        line-height: 1.3em; }
      .treePane ul li label:hover {
        cursor: pointer;
        color: #ccc; }
      .treePane ul li label.togglable:hover {
        cursor: pointer;
        color: #ea4; }

.togglable {
  color: #ffcc66;
  /* rgb(255,204,102); fff080 */
  position: relative; }

.togglable-down::before, .togglable-up::before {
  position: absolute;
  top: 50%;
  margin-top: -0.8em;
  left: -1.2em;
  font-size: 0.7em; }

.togglable-down::before {
  content: '\25BC';
  /*display: inline-block;*/ }

.togglable-up::before {
  content: "\25B6";
  /*display: inline-block;*/ }

.selected {
  position: relative;
  color: #bcf; }

.popupScreen {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px); }

.modalContainer {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 800; }

.modalWindow {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  height: 100px;
  width: 300px;
  background: #557;
  padding: 20px;
  border-radius: 5px;
  color: #eee;
  z-index: 1001; }
  .modalWindow label {
    margin-right: 10px; }
  .modalWindow .btn-success {
    float: right;
    padding: 10px;
    width: 80px;
    text-align: center;
    background-color: #60a060; }
    .modalWindow .btn-success:hover {
      cursor: pointer;
      background-color: #38b368; }
  .modalWindow input[type='text'] {
    width: 180px;
    padding: 5px;
    border: 0px;
    outline: none;
    font-family: 'Droid Sans', sans-serif;
    font-size: 11pt;
    color: #333333; }

body {
  overflow: hidden;
  font-family: 'Droid Sans', monospace;
  font-size: 11pt;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #272727; }

/* General layout */
#container {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 35px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #272727; }

.langBox {
  position: absolute;
  margin: 0;
  padding: 0 12px 0 12px;
  bottom: 0px;
  right: 0px;
  z-index: 5;
  width: auto;
  height: 25px;
  text-align: right;
  background-color: #272727;
  font-size: 9.5pt;
  color: #eeeeee;
  line-height: 25px;
  opacity: 0.8;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
  -moz-transition: background 0.15s ease-in-out;
  -webkit-transition: background 0.15s ease-in-out; }
  .langBox:hover {
    background-color: #444444; }

.langBoxPopup {
  position: absolute;
  margin: 0;
  top: 0px;
  overflow: auto;
  bottom: 25px;
  right: 0px;
  z-index: 100;
  text-align: right;
  background-color: #272727;
  font-size: 9.5pt;
  color: #eeeeee;
  line-height: 25px;
  opacity: 0.8;
  cursor: pointer;
  outline: none; }
  .langBoxPopup .langBoxItem {
    padding: 2px 15px 2px 15px;
    transition: background 0.15s ease-in-out;
    -moz-transition: background 0.15s ease-in-out;
    -webkit-transition: background 0.15s ease-in-out; }
    .langBoxPopup .langBoxItem:hover {
      background-color: #444444; }

/* Side pane */
#sidePane {
  margin: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 240px;
  background-color: #555555; }

.repoSearchBox {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0px;
  height: 30px;
  width: 240px;
  background-color: #404040; }
  .repoSearchBox input[type='text'] {
    position: absolute;
    margin: 4px;
    padding: 0;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 205px;
    border: 0px;
    outline: none;
    font-family: 'Droid Sans', sans-serif;
    font-size: 10pt;
    color: #cccccc;
    background-color: #404040;
    background-image: url('../img/github.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 25px; }

/* code editor */
#editor {
  margin: 0px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 240px;
  font-family: 'Inconsolata', monospace;
  font-size: 10.5pt;
  visibility: hidden; }

.guest1 {
  background-color: #56b;
  border-color: #56b !important; }

.guest2 {
  background-color: #933;
  border-color: #933 !important; }

.guest3 {
  background-color: #771;
  border-color: #771 !important; }

.lineHighlight {
  position: absolute;
  z-index: 6;
  opacity: 0.25; }

.userMarker {
  position: absolute;
  opacity: 0.9;
  height: 15px;
  z-index: 900;
  color: #fff;
  padding: 1px 3px 1px 3px; }

#mainVideo, #localVideo {
  margin: 0;
  display: none;
  position: absolute;
  bottom: 60px;
  left: 0px;
  width: 240px;
  height: 180.45113px;
  font-size: 10pt;
  text-align: center;
  font-weight: normal;
  background: #333; }

#mainVideo.showing, #localVideo.showing {
  display: block; }

#mainVideo.showing + #localVideo.showing {
  width: 80px;
  height: 60.15038px;
  right: 0px;
  left: inherit; }

.videoStreaming #mainVideo {
  display: block; }
.videoStreaming .treePane {
  bottom: 240.45113px; }

#videoButton {
  margin: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 240px;
  font-size: 10pt;
  text-align: center;
  font-weight: normal;
  color: #dddddd;
  height: 60px;
  line-height: 25px;
  transition: background 0.15s ease-in-out;
  -moz-transition: background 0.15s ease-in-out;
  -webkit-transition: background 0.15s ease-in-out; }

#videoButton img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 16px;
  margin: -9px 0 0 -18px; }

.disabled {
  background-color: #444; }

.disabled:hover {
  background-color: #444; }

.notInSession {
  background-color: #60a060; }

.notInSession:hover {
  background-color: #38b368;
  cursor: pointer; }

.inSession {
  background-color: #996666; }

.inSession:hover {
  background-color: #aa5555;
  cursor: pointer; }
