@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/Inconsolata-Regular.ttf'); }

@font-face {
  font-family: 'Droid Sans';
  src: url('../fonts/DroidSans.ttf'); }

@font-face {
  font-family: 'Fantasque';
  src: url('../fonts/FantasqueSansMono-Regular.ttf'); }

/* Menu bar */
#menuContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #272727;
  margin: 0;
  padding: 0;
  font-size: 12pt;
  font-weight: normal; }
  #menuContainer #logo {
    float: left;
    padding: 8px;
    padding-left: 4px;
    font-family: 'Inconsolata';
    color: #ffffff; }
    #menuContainer #logo span {
      color: #667796; }
  #menuContainer #rightMenu {
    float: right;
    margin: 0;
    padding: 0;
    text-align: right;
    color: #eeeeee; }
  #menuContainer ul {
    margin: 0;
    padding: 0;
    height: 100%; }
    #menuContainer ul li {
      float: left;
      display: block;
      margin: 0;
      padding: 0;
      font-family: 'Droid Sans', sans-serif;
      font-size: 9.5pt;
      height: 100%; }

.menuButton {
  float: left;
  margin: 0;
  padding: 0;
  height: 35px;
  line-height: 35px;
  text-align: center; }

.notification {
  float: left;
  margin: 0;
  padding: 0px 5px 0px 5px;
  margin: 6px;
  height: 23px;
  line-height: 23px;
  min-width: 15px;
  text-align: center;
  font-weight: normal; }

.inactiveSession {
  background-color: #d55; }

.activeSession {
  background-color: #2873AB;
  transition: background 0.15s ease-in-out;
  -moz-transition: background 0.15s ease-in-out;
  -webkit-transition: background 0.15s ease-in-out; }
  .activeSession:hover {
    background-color: #4455bb;
    cursor: pointer; }

.notificationPopup {
  position: absolute;
  right: 6px;
  top: 29px;
  z-index: 100;
  font-size: 10pt;
  font-family: 'Droid Sans';
  text-align: right;
  font-weight: normal; }

.joinMsg, .leaveMsg, .stateMsg, .errorMsg, .loadingMsg {
  float: right;
  clear: both;
  height: 25px;
  line-height: 25px;
  color: #ffffff;
  opacity: 1;
  padding: 2px 4px 2px 8px; }

.joinMsg {
  background-color: #2873AB; }

.leaveMsg {
  background-color: #d55; }

.stateMsg {
  background-color: #696; }

.loadingMsg {
  background-color: #666; }

.errorMsg {
  background-color: #d55; }
  .errorMsg .button:hover {
    background-color: #e44;
    padding: 5px;
    cursor: pointer; }

.shareThisLink {
  height: 30px;
  line-height: 30px;
  background-color: #d55;
  color: #ffffff;
  opacity: 1;
  padding: 0px 0px 0px 5px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: normal; }
  .shareThisLink input[type='text'] {
    width: 200px;
    outline: none;
    height: 20px;
    line-height: 20px;
    border: 0;
    margin: 0px;
    margin-left: 4px;
    padding: 5px;
    font-size: 10pt;
    font-family: 'Droid Sans', sans-serif;
    background-color: #e99; }

.fadeInOut-enter {
  opacity: 0.01;
  transition: opacity 0.5s ease-in; }

.fadeInOut-enter.fadeInOut-enter-active {
  opacity: 1; }

.fadeInOut-leave {
  opacity: 1;
  transition: opacity 0.5s ease-in; }

.fadeInOut-leave.fadeInOut-leave-active {
  opacity: 0.01; }

/* Tree UI component */
#treePane {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 30px;
  left: 0px;
  bottom: 75px;
  width: 260px;
  overflow: auto;
  font-family: 'Droid Sans', sans-serif; }
  #treePane ul {
    list-style-type: none;
    margin: 2px;
    padding: 0;
    color: #ffffff; }
    #treePane ul li {
      font-size: 10pt;
      margin: 3px;
      padding-left: 5px;
      cursor: pointer; }
      #treePane ul li label {
        margin: 0;
        padding: 0;
        display: block;
        cursor: pointer; }
  #treePane > div {
    margin: 0.5em;
    margin-left: 1em; }

.togglable {
  color: #ffcc66;
  /* fff080 */
  position: relative; }

.togglable-down::before, .togglable-up::before {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  left: -1.2em;
  font-size: 0.7em; }

.togglable-down::before {
  content: '\25BC';
  /*display: inline-block;*/ }

.togglable-up::before {
  content: "\25B6";
  /*display: inline-block;*/ }

.selected {
  position: relative;
  color: #bcf; }

body {
  overflow: hidden;
  font-family: 'Droid Sans', monospace;
  font-size: 11pt;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #272727; }

.popupScreen {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0.5;
  z-index: 1000;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px); }

#popupContainer {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

#popup {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -200px;
  height: 300px;
  width: 400px;
  background: #96afc8;
  padding: 10px;
  border-radius: 0px;
  color: #000;
  z-index: 1001; }

/* General layout */
#container {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 35px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #272727; }

#langbox {
  position: absolute;
  margin: 0;
  padding: 2px 15px 2px 15px;
  bottom: 0px;
  right: 0px;
  z-index: 100;
  width: auto;
  height: 25px;
  text-align: right;
  background-color: #272727;
  font-size: 9.5pt;
  color: #eeeeee;
  line-height: 25px;
  opacity: 0.8;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
  -moz-transition: background 0.15s ease-in-out;
  -webkit-transition: background 0.15s ease-in-out; }
  #langbox:hover {
    background-color: #444444; }

/* Side pane */
#sidePane {
  margin: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 260px;
  background-color: #555555; }

#sideMenu {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0px;
  height: 30px;
  width: 260px;
  background-color: #404040; }
  #sideMenu input[type='text'] {
    position: absolute;
    margin: 4px;
    padding: 0;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 225px;
    border: 0px;
    outline: none;
    font-family: 'Droid Sans', sans-serif;
    font-size: 10pt;
    color: #cccccc;
    background-color: #404040;
    background-image: url('../img/github.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 25px; }

/* code editor */
#editor {
  margin: 0px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 260px;
  font-family: 'Inconsolata', monospace;
  font-size: 10.5pt;
  visibility: hidden; }

#editorFooter {
  position: absolute;
  height: 15px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  /*background-color: #555555;*/
  background-color: #313131;
  /*border-top: 1px solid #999999;*/
  color: #ffffff; }

.lineHighlight {
  position: absolute;
  background-color: yellow;
  opacity: 0.2; }

#localVideo {
  margin: 0;
  position: absolute;
  bottom: 200px;
  right: 0;
  height: 100px;
  background-color: #4455ff; }

#mainVideo {
  margin: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 260px;
  color: #dddddd;
  /*border-top: 1px solid #999999;*/
  font-size: 10pt;
  text-align: center;
  font-weight: normal;
  cursor: pointer; }

.notInSession {
  background-color: #629372;
  height: 75px;
  line-height: 25px;
  transition: background 0.15s ease-in-out;
  -moz-transition: background 0.15s ease-in-out;
  -webkit-transition: background 0.15s ease-in-out; }

.notInSession:hover {
  /*background-color: #38b368;*/
  background-color: #38b358;
  content: 'Enable video'; }

.notInSession img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 16px;
  margin: -9px 0 0 -18px; }

.inSession {
  height: 195px;
  background-color: #CCCCDD; }
