#anotherContainer.lightTheme {
	background: #eff1f5;

    .modalWindow, .github-button {
		color: #606060;
    }

	.modalWindow input[type='text'] {
    	border: 1px solid #909090;
    	border-right: 0;
	}


	.userMarker {
		color: #4f5b66;
	}

	#sidePane {
		background: #e6e9f0;

		.repoSearchBox {
			background: #aaacb3;

			input {
				color: #eff1f5;

				&::-webkit-input-placeholder {
				  color: #eff1f5;
				}

				&::-moz-placeholder {
				  color: #eff1f5;
				}

				&:-ms-input-placeholder {
				  color: #eff1f5;
				}

				&::placeholder {
					color: #eff1f5;
				}
			}
		}

		.current-branch, .branch {
			color: #797979;
		}

		.treePane label:hover {
			color: #606060;
		}

		.selected {
        	color: #3a3a3a;
    	}

		.modified::after {
			background: $blue;
		}
	}

	.dockBlocker {
		background: #e6e9f0;
	}

	.notification {
		background: #aaacb3;
		color: $offWhite;
	}

	.dock {
		button::before {
			color: #aaacb3;
		}

		button:hover::before {
			color: #707070;
		}

		&.notificationDock.unread > button::after {
			background: $blue;
		}

		.members {
			&::before {
				box-shadow: 0 0 24px 8px rgba(89, 96, 107, 0.4);
			}
			&::after {
				border-top: 18px solid #f8f9fb;
			}
			ul {
				box-shadow: 0 0 12px rgba(89, 96, 107, 0.4);
			}
			li {
				background: #eff1f5;
				border-top-color: #eff1f5 - #070707;
				border-bottom-color: #eff1f5 + #aaa;
			}
		}
	}

	.ace_editor .ace_gutter {
		border-color: #eff1f5;
	}

	.langBox, .langBoxPopup {
		background: #aaacb3;
	}
	.langBox, .langBoxItem {
		&:hover {
			background: #9a9ca3;
		}
	}

}
