.dockContainer {
	position: absolute;
	bottom: 12px;
	left: 0;
	right: 0;
	height: 60px;
}

.notificationList {
	position: absolute;
	z-index: 6;
	left: 240px;
	width: 1000%;
	margin: 0;
	padding: 0;
	pointer-events: none;
	overflow: none;
}

.notification {
	position: absolute;
	height: 36px;
	line-height: 36px;
	padding-left: 1em;
	padding-right: 2em;
	text-align: center;
	color: #aaa;
	background: #606060;
	white-space: nowrap;
	overflow: hidden;
	pointer-events: none;
	border-top-right-radius: 18px;
	border-bottom-right-radius: 18px;
	transition: left .6s ease-out, top .3s, opacity .5s ease-out, width 0.8s;
	@for $i from 0 to 15 {
		&:nth-child(#{$i + 1}) {
			top: -36px * $i + 12px;
		}
	}
}

.notification-enter {
	left: -300px;
}

.notification-enter.notification-enter-active {
	top: 12px !important;
	left: 0;
}

.notification-leave {
	opacity: 1;
}

.notification-leave.notification-leave-active {
	opacity: 0.01;
}

.dock {
	position: relative;
	z-index: 7;
	display: inline-block;
	height: 100%;
	width: 60px;
	box-sizing: content-box;
	vertical-align: middle;

	&.optionDock {
		padding-left: 15px;
		padding-right: 7px;
		ul {
			left: -3px;
		}
		& > button::before {
			font-size: 24px;
		}
	}

	&.videoDock {
		padding: 0 8px;
		& > button::before {
			font-size: 18px;
		}
		ul {
			left: -78px;
		}
		li {
			&:nth-child(n + 3)::before {
				content: '';
				position: relative;
				top: 3px;
				float: left;
				height: 12px;
				width: 12px;
				margin-right: 1em;
				border-radius: 6px;
			}
			.icon-cam {
				font-size: 16px;
			}
		}

		.videoDisabled, .audioDisabled {
			cursor: default;

			&::before, &:hover::before {
				color:  #e1e3ea;
			}

		}

		.videoActive, .audioActive {
			&::before {
				color: $green;
			}
		}
	}

	&.notificationDock {
		padding-left: 7px;
		padding-right: 15px;
		& > button::before {
			font-size: 24px;
		}
		&.unread > button::after {
			content: '';
			position: absolute;
			bottom: 14px;
			right: 14px;
			height: 8px;
			width: 8px;
			background: $red;
			border-radius: 4px;
		}
		ul {
			left: -153px;
		}
	}

	button {
		position: relative;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 12px;
		background: transparent;
		cursor: pointer;

		&:active {
			padding: 0
		}

		&::before {
			color: #606060;
			transition: color 0.2s;
		}

		&:hover::before {
			color: #7a7a7a;
		}
	}

	& > button {
		height: 100%;
		width: 100%;
	}

	li button {
		top: -8px;
		line-height: 26px;
		float: right;
		margin-bottom: -1em;
		margin-left: 18px;
		font-size: 24px;
	}

	.videoUser {
		float: left;
		max-width: 70px;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.members {
		position: absolute;
		bottom: 84px;
		width: 0;
		display: none;
		color: #59606b;

		&::before, &::after {
			content: '';
			position: absolute;
		}
		&::before {
			bottom: -6px;
			left: 30px;
		}
		&::after {
			bottom: -18px;
			left: 18px;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-top: 18px solid #fafafa;
		}
	}

	&.open {
		z-index: 9;
		.members {
			display: block;
		}
	}

	ul {
		position: relative;
		max-height: 216px;
		width: 216px;
		margin: 0;
		padding: 0;
		list-style: none;
		overflow-y: auto;
		overflow-x: hidden;
		border-radius: 18px;

		& button::before {
			color: #aaacb3;
		}

		& button:hover::before {
			color: #707070;
		}

		&::-webkit-scrollbar {
		  width: 0;
		  height: 0;
		}

		&::-webkit-scrollbar-track {
		  background: rgba(0, 0, 0, 0);
		}

		&::-webkit-scrollbar-thumb {
		  background: rgba(0, 0, 0, 0);
		}

		&::-webkit-scrollbar-resizer {
		  background: rgba(0, 0, 0, 0);
		}

		&::-webkit-scrollbar-corner {
		  background: rgba(0, 0, 0, 0);
		}
	}

	li {
		padding: 22px 1.4em;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #ededed;
		color: #59606b;
		background: $offWhite;
		box-shadow: inset 0 0 96px white;

		&:first-child {
			border-top: 0;
		}

		&:last-child {
			border-bottom: 0;
		}

		// micro clearfix
		&::before, &::after {
			content: ' ';
			display: table;
		}

		&::after {
			clear: both;
		}
	}

	.switchery {
		float: right;
		margin: -5px 0;
		height: 24px;
		width: 40px;
		border-radius: 13px;

		small {
			height: 24px;
			width: 24px;
			border-radius: 50%;
		}
	}
}

.dockBlocker {
	position: absolute;
	z-index: 6;
	height: 60px;
	width: 240px;
	background: #272727;
	bottom: 0;
}
