/* Colors */
$red: #ff5c5d;
$blue: #2DC9E9;
$blueDark: #1b2f39;
$green: #53d76a;
$purple: #c000e0;
$teal: #00c0e0;
$offWhite: #f4f4f4;
$grey: #d3d3d3;
$colors: $purple, $red, $green, $teal;

$headerColor: #272727;

$successColor: #27ae60;
$successColorHover: #2ecc71;

$failureColor: #996666;
$failureColorHover: #aa5555;

$disabledColor: #444;
$disabledColorHover: #444;
