/* Colors */
$blue: #3498db;
$purple: #9b59b6;
$red: #e74c3c;
$orange: #e67e22;
$yellow: #f1c40f;
$green: #2ecc71;
$offWhite: #f4f4f4;

$userColors: $blue, $purple, $red, $orange, $yellow, $green;
$userColorsDark: ();
$userColorsLight: ();
@each $color in $userColors {
    $userColorsDark: append($userColorsDark, desaturate(darken($color, 15%), 10%));
    $userColorsLight: append($userColorsLight, desaturate(lighten($color, 15%), 10%));
}

$headerColor: #272727;

$successColor: #27ae60;
$successColorHover: #2ecc71;

$failureColor: #996666;
$failureColorHover: #aa5555;

$disabledColor: #444;
$disabledColorHover: #444;
