@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/Inconsolata-Regular.ttf');
}

@font-face {
    font-family: 'Droid Sans';
    src: url('../fonts/DroidSans.ttf');
}


@font-face {
    font-family: 'Fantasque';
    src: url('../fonts/FantasqueSansMono-Regular.ttf');
}

@mixin userselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin buttonfade {
    transition: background .15s ease-in-out;
    -moz-transition: background .15s ease-in-out;
    -webkit-transition: background .15s ease-in-out;
}

$headerColor: rgb(39, 39, 39);