@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?l2nh50');
  src:url('../fonts/icomoon.eot?#iefixl2nh50') format('embedded-opentype'),
    url('../fonts/icomoon.woff?l2nh50') format('woff'),
    url('../fonts/icomoon.ttf?l2nh50') format('truetype'),
    url('../fonts/icomoon.svg?l2nh50#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon', 'Oxygen', sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-bell:before {
  content: "\e600";
}
.icon-arrow-down:before {
  content: "\e602";
}
.icon-arrow-up:before {
  content: "\e606";
}
.icon-download:before {
  content: "\e601";
}
.icon-code-fork:before {
  content: "\f126";
}
.icon-settings:before {
  content: "\e603";
}
.icon-cam:before {
  content: "\e604";
}
.icon-mic:before {
  content: "\e605";
}

@mixin userSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin borderBox {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin buttonFade {
    transition: background .15s ease-in-out;
    -moz-transition: background .15s ease-in-out;
    -webkit-transition: background .15s ease-in-out;
}

@mixin blurEffect {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

/* Widths */
$sidePaneWidth: 240px;

/* Scroll bar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-resizer {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.1);
}
