@import 'header';
@import 'menu';
@import 'sidePane';
@import 'react/tree';
@import 'react/dockbar';
@import 'react/modalWindow';

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: 'Droid Sans', monospace;
    font-size: 11pt;
    @include userSelect;
    @include borderBox;
    background-color: $headerColor;
}

/* General layout */
.container {
    position: absolute;
    margin: 0;
    margin-left: 6px;
    padding: 0;
    top: 30px;
    left: $sidePaneWidth;
    right: 35%;
    bottom: 0px;
    background-color: $headerColor;
}

.rightContainer {
    position: absolute;
    margin: 0;
    margin-left: 6px;
    padding: 0;
    top: 30px;
    left: 65%;
    right: 0px;
    bottom: 0px;
    background-color: rgb(45,45,45);
}

.langBox {
    position: absolute;
    margin: 0;
    padding: 0 12px 0 12px;
    bottom: 0px;
    right: 0px;
    z-index: 5;
    width: auto;
    height: 25px;
    text-align: right;
    background-color: $headerColor;
    font-size: 9.5pt;
    color: #eeeeee;
    line-height: 25px;
    opacity: 0.8;
    cursor: pointer;
    @include buttonFade;

    &:hover {
        background-color: #444444;
    }
}

.langBoxPopup {
    position: absolute;
    margin: 0;
    top: 0px;
    overflow: auto;
    bottom: 25px;
    right: 0px;
    z-index: 100;
    text-align: right;
    background-color: $headerColor;
    font-size: 9.5pt;
    color: #eeeeee;
    line-height: 25px;
    opacity: 0.8;
    cursor: pointer;
    outline: none;

    .langBoxItem {
        padding: 2px 15px 2px 15px;

        @include buttonFade;

        &:hover {
            background-color: #444444;
        }
    }
}

/* tab bar */
/* TODO: move to separate file */
.tabBar {
    padding: 0;
    margin : 0;
    position: absolute;
    top: 0px;
    height: 30px;
    right: 0px;
    left: 0;
    background: $headerColor;
    list-style-type: none;
    display: block;
    overflow: hidden;
}

.tabBar li {
    float: left;
    cursor: pointer;
    padding: 0;
    margin: 0;
    max-width: 150px;
    min-width: 20px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 10pt;

    &:hover {
        background: #555;
        color: #ccc;
    }

    margin-top: 6px;
    line-height: 24px;
    background: #333;
    color: #aaa;
}

.tabBar .active {
    margin: 0;
    line-height: 30px;
    background: #555;
    color: #ccc;
}

.tabBar .add {
    float: right;
    width: 35px;
    text-align: center;
    font-weight: bold;
    margin: 0 2px;
}

.tabBar .tabTitle {
    padding: 0 4px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tabBar .tabClose {
    float: right;
    width: 16px;
    text-align: center;
    font-size: 8pt;

    &:hover {
        background: $failureColorHover;
    }
}

/* code editor */
#editor {
    margin : 0px;
    padding: 5px;
    position: absolute;
    top: 30px;
    bottom: 0px;
    right: 0px;
    left: 0;
    font-family: 'Inconsolata', monospace;
    font-size: 10.5pt;
    visibility: hidden;
}

.markdown {
    margin : 0px;
    padding: 5px;
    position: absolute;
    top: 30px;
    bottom: 0px;
    right: 0px;
    left: 0;
    font-size: 10.5pt;
    background: #fff;
    overflow: auto;
}

$userColors: #56b, #933, #771;

@for $i from 1 through length($userColors) {
    .guest#{$i} {
        background-color: nth($userColors, $i);
        border-color: nth($userColors, $i) !important;
    }
}

.lineHighlight {
    position: absolute;
    z-index: 6;
    opacity: 0.25;
}

.userMarker {
    position: absolute;
    opacity: 0.9;
    height: 15px;
    z-index: 900;
    color: #fff;
    padding: 1px 3px 1px 3px;
}

#mainVideo, #localVideo {
    margin: 0;
    display: none;
    position: absolute;
    bottom: 60px;
    left: 0px;
    width: $sidePaneWidth;
    height: $sidePaneWidth / 1.33;
    font-size: 10pt;
    text-align: center;
    font-weight: normal;
    background: #333;
}

#mainVideo.showing,
#localVideo.showing {
    display: block;
}

#mainVideo.showing + #localVideo.showing {
    width: $sidePaneWidth / 3;
    height: $sidePaneWidth / 1.33 / 3;
    right: 0px;
    left: inherit;
}

.videoStreaming {
    #mainVideo {
        display: block;
    }

    .treePane {
        bottom: 60px + $sidePaneWidth / 1.33;
    }
}

#videoButton {
    margin: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: $sidePaneWidth;
    font-size: 10pt;
    text-align: center;
    font-weight: normal;
    color: #dddddd;
    height: 60px;
    line-height: 25px;
    @include buttonFade;
}

#videoButton img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 16px;
    margin: -9px 0 0 -18px;
}

.disabled {
    background-color: $disabledColor;
}

.disabled:hover {
    background-color: $disabledColorHover;
}

.notInSession {
    background-color: $successColor;
}

.notInSession:hover {
    background-color: $successColorHover;
    cursor: pointer;
}

.inSession {
    background-color: $failureColor;
}

.inSession:hover {
    background-color: $failureColorHover;
    cursor: pointer;
}
