@import 'variables';
@import 'custom_theme_light';
@import 'custom_theme_dark';
@import 'header';
@import 'menu';
@import 'dock';
@import 'tabBar';
@import 'sidePane';
@import 'react/tree';
@import 'react/dockbar';
@import 'react/modalWindow';

* {
    box-sizing: border-box;
}

html, body, #appContainer {
    min-height: 100%;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    font: 10pt 'Droid Sans', monospace;
    @include userSelect;
    @include borderBox;
}

#appContainer {
    background: $red;
    position: relative;
}

#mainContainer {
    margin-top: 2px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* General layout */
.editorContainer {
    position: absolute;
    top: 0;
    left: $sidePaneWidth;
    right: 0;
    bottom: 0;
}

.rightContainer {
    // TODO: Use this!
    display: none;
    position: absolute;
    top: 0;
    left: 65%;
    right: 0px;
    bottom: 0px;
    background-color: rgb(45,45,45);
}

.langBox {
    position: absolute;
    margin: 0;
    padding: 0 12px 0 12px;
    bottom: 0px;
    right: 0px;
    z-index: 5;
    width: auto;
    height: 25px;
    text-align: right;
    background-color: $headerColor;
    font-size: 9.5pt;
    color: #eeeeee;
    line-height: 25px;
    opacity: 0.8;
    cursor: pointer;
    @include buttonFade;

    &:hover {
        background-color: #444444;
    }
}

.langBoxPopup {
    position: absolute;
    margin: 0;
    top: 0px;
    overflow: auto;
    bottom: 25px;
    right: 0px;
    z-index: 100;
    text-align: right;
    background-color: $headerColor;
    font-size: 9.5pt;
    color: #eeeeee;
    line-height: 25px;
    opacity: 0.8;
    cursor: pointer;
    outline: none;

    .langBoxItem {
        padding: 2px 15px 2px 15px;

        @include buttonFade;

        &:hover {
            background-color: #444444;
        }
    }
}

/* code editor */
#editor {
    margin : 0px;
    padding: 5px;
    position: absolute;
    top: 30px;
    bottom: 0px;
    right: 0px;
    left: 0;
    font-family: 'Inconsolata', monospace;
    font-size: 12pt;
    visibility: hidden;
}

.hidden + div #editor {
    top: 0px;
}

.markdown {
    margin : 0px;
    padding: 5px;
    position: absolute;
    top: 30px;
    bottom: 0px;
    right: 0px;
    left: 0;
    font-size: 10.5pt;
    background: #fff;
    overflow: auto;
}

$userColors: #56b, #933, #771;

@for $i from 1 through length($userColors) {
    .guest#{$i} {
        background-color: nth($userColors, $i);
        border-color: nth($userColors, $i) !important;
    }
}

.lineHighlight {
    position: absolute;
    z-index: 6;
    opacity: 0.25;
}

.userMarker {
    position: absolute;
    opacity: 0.9;
    height: 15px;
    z-index: 900;
    color: #fff;
    padding: 1px 3px 1px 3px;
}

#mainVideo, #localVideo {
    margin: 0;
    display: none;
    position: absolute;
    bottom: 60px;
    left: 0px;
    width: $sidePaneWidth;
    height: $sidePaneWidth / 1.33;
    font-size: 10pt;
    text-align: center;
    font-weight: normal;
    background: #333;
}

#mainVideo.showing,
#localVideo.showing {
    display: block;
}

#mainVideo.showing + #localVideo.showing {
    width: $sidePaneWidth / 3;
    height: $sidePaneWidth / 1.33 / 3;
    right: 0px;
    left: inherit;
}

.videoStreaming {
    #mainVideo {
        display: block;
    }

    .treePane {
        bottom: 60px + $sidePaneWidth / 1.33;
    }
}

#videoButton {
    margin: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: $sidePaneWidth;
    font-size: 10pt;
    text-align: center;
    font-weight: normal;
    color: #dddddd;
    height: 60px;
    line-height: 25px;
    @include buttonFade;
}

#videoButton img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 16px;
    margin: -9px 0 0 -18px;
}

.disabled {
    background-color: $disabledColor;
}

.disabled:hover {
    background-color: $disabledColorHover;
}

.notInSession {
    background-color: $successColor;
}

.notInSession:hover {
    background-color: $successColorHover;
    cursor: pointer;
}

.inSession {
    background-color: $failureColor;
}

.inSession:hover {
    background-color: $failureColorHover;
    cursor: pointer;
}
