/* Menu bar */
#menuContainer {
    z-index: 10000;
    position: fixed;
    bottom: 16px;
    left: 16px;
    height: 60px;
    width: 60px;
    margin: 0;
    border-radius: 30px;
    background-color: $green;

    li {
        float: left;
        display: none;
        margin: 0;
        padding: 0;
        font-family: 'Droid Sans', sans-serif;
        font-size: 9.5pt;
        height: 100%;
    }
}

.userTag {
    float: left;
    margin: 0;
    padding: 0px 4px 0px 4px;
    margin: 7px 2px 7px 2px;
    height: 21px;
    line-height: 21px;
    min-width: 15px;
    text-align: center;
    font-weight: normal;
    color: #fff;

    img {
        height: 8px;
        padding-left: 4px;
    }
}

.streamable:hover {
    cursor: pointer;
}

.inactiveSession {
    /*background-color: #d55;*/
    background-color: #333;
}

.activeSession {
    background-color: #2873AB;
    @include buttonFade;
}

.userBehind::before {
    content: '\25B2';
    padding-right: 2px;
    font-size: 8pt;
}

.userAhead::before {
    content: '\25BC';
    padding-right: 2px;
    font-size: 8pt;
}

#videoButton img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 16px;
    margin: -9px 0 0 -18px;
}

.notificationPopup {
    position: absolute;
    right: 6px;
    top: 35px;
    z-index: 100;
    font-size: 10pt;
    font-family: 'Droid Sans';
    text-align: right;
    font-weight: normal;
}

.joinMsg, .leaveMsg, .stateMsg, .errorMsg, .loadingMsg, .infoMsg {
    float: right;
    clear: both;
    height: 22px;
    line-height: 22px;
    color: #ffffff;
    opacity: 1.0;
    padding: 2px 4px 2px 8px;
}

.joinMsg {
    background-color: #2873AB;
}

.leaveMsg {
    background-color: #d55;
}

.stateMsg {
    background-color: #696;
}

.loadingMsg {
    background-color: #666;
}

.infoMsg {
    background-color: #994;
}

.errorMsg {
    background-color: #d55;
    .button {
        &:hover {
            background-color: #e44;
            padding: 5px;
            cursor: pointer;
        }
    }
}

.fadeInOut-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fadeInOut-enter.fadeInOut-enter-active {
  opacity: 1;
}

.fadeInOut-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fadeInOut-leave.fadeInOut-leave-active {
  opacity: 0.01;
}
