@import 'react/tree';

/* Side pane */
#sidePane {
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: $sidePaneWidth;
    background-color: #555555;
    font-family: 'Droid Sans', sans-serif;
    font-size: 10pt;
    color: #eee;

    .current-branch {
        position: absolute;
        left: 0;
        top: 30px;
        right: 0;
        height: 20px;
        background: #666;
        padding-left: 28px;
        line-height: 20px;

        &:hover {
            cursor: pointer;
            background-color: #999;
        }
    }

    .branches-list {
        box-sizing: border-box;
        position: absolute;
        top: 50px;
        padding: 0px 0px 0px 20px;
        bottom: 60px;
        width: $sidePaneWidth;
        overflow: auto;
    }

    .repoSearchBox {
        margin: 0;
        padding: 0;
        top: 0px;
        height: 30px;
        width: $sidePaneWidth;
        background-color: #404040;

        input[type='text'] {
            margin: 0;
            padding: 0;
            width: $sidePaneWidth - 35;
            border: 0px;
            outline: none;
            font-family: 'Droid Sans', sans-serif;
            color: #cccccc;
            background-color: #404040;
            background-image: url('../img/github.svg');
            background-size: 20px 20px;
            background-repeat: no-repeat;
            background-position: 4px 4px;
            padding-left: 28px;
            height: inherit;
            font-size: inherit;
        }
    }
}
