@import 'react/tree';

#workspace {
    position: absolute;
    top: 46px;
    bottom: 72px;
    width: 100%;
    overflow: auto;
}

/* Side pane */
#sidePane {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: $sidePaneWidth;
    margin: 0;
    font-size: 10pt;
    color: #909090;
    background: #272727;

    .current-branch {
        position: relative;
        margin: 4px;
        padding: 8px 24px;
        font-weight: bold;
        color: #cacaca;

        &::before {
            position: absolute;
            top: 10px;
            left: 10px;
            transform: rotate(90deg);
        }

        &:hover {
            cursor: pointer;
            color: $offWhite;
        }
    }

    .branch {
        font-weight: bold;
        color: #cacaca;
    }

    .branches-list {
        box-sizing: border-box;
        position: absolute;
        top: 50px;
        padding: 0px 0px 0px 20px;
        bottom: 0;
        width: $sidePaneWidth;
        overflow: auto;
    }

    .repoSearchBox {
        margin: 0;
        padding: 0;
        top: 0px;
        height: 34px;
        width: $sidePaneWidth;
        background-color: #393939;

        input[type='text'] {
            width: $sidePaneWidth - 35;
            height: inherit;
            margin: 0;
            padding: 0 0 2px 40px;
            border: 0;
            outline: none;
            font-family: 'Oxygen', sans-serif;
            font-size: inherit;
            color: #cacaca;
            background: transparent;
            background-image: url('../img/github.svg');
            background-size: 24px 24px;
            background-repeat: no-repeat;
            background-position: 8px 5px;
        }
    }
}
