@import 'react/tree';

/* Side pane */
#sidePane {
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0px;
    width: $sidePaneWidth;
    margin: 0;
    background: #272727;
    font-size: 10pt;
    color: $offWhite;

    .current-branch {
        position: absolute;
        left: 0;
        top: 30px;
        right: 0;
        height: 20px;
        background: #666;
        padding-left: 28px;
        line-height: 20px;

        &:hover {
            cursor: pointer;
            background-color: #999;
        }
    }

    .branches-list {
        box-sizing: border-box;
        position: absolute;
        top: 50px;
        padding: 0px 0px 0px 20px;
        bottom: 60px;
        width: $sidePaneWidth;
        overflow: auto;
    }

    .repoSearchBox {
        margin: 0;
        padding: 0;
        top: 0px;
        height: 34px;
        width: $sidePaneWidth;
        background-color: #393939;

        input[type='text'] {
            margin: 0;
            padding: 0;
            width: $sidePaneWidth - 35;
            border: 0px;
            outline: none;
            font-family: 'Droid Sans', sans-serif;
            color: #cccccc;
            background: transparent;
            background-image: url('../img/github.svg');
            background-size: 24px 24px;
            background-repeat: no-repeat;
            background-position: 8px 5px;
            padding-left: 40px;
            height: inherit;
            font-size: inherit;
        }
    }
}
